/* BUTTONS */
.btn-birdieland {
  font: 300 12px/18px "Ubuntu", sans-serif;
  color: white;
  padding: 0;
  border: none;
  text-transform: uppercase;
  background: #ee6868;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 11px 18px 12px;
  text-align: center; }

/* START */
body {
  min-width: 320px;
  height: 100%;
  line-height: 18px;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #383a3d;
  background: #383a3d; }
  body header {
    background: white;
    padding-bottom: 49px;
    border-bottom: 1px solid #ececec; }
    body header #logo {
      text-align: center;
      margin-top: 40px; }
    body header nav {
      margin-top: 42px; }
      @media (min-width: 768px) {
        body header nav.navbar-default {
          border-color: transparent;
          background-color: transparent; }
        body header nav .nav li a {
          font: 300 14px/20px "Ubuntu", sans-serif;
          text-transform: uppercase;
          color: #383a3d;
          display: block;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          padding: 11px 16px 10px !important;
          margin: 0 1px 0 0; }
        body header nav .nav li:hover a, body header nav .nav li.active a {
          background-color: #ee6868 !important;
          color: #fff !important; } }
  body main {
    background: #f5f5f5;
    padding: 40px 0; }
    body main .product-list {
      margin: 0 0 40px 0;
      text-align: center; }
      body main .product-list .product-image-container {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin-bottom: 20px;
        position: relative; }
      body main .product-list h5 {
        padding: 0 5px 4px 5px;
        margin: 0; }
        body main .product-list h5 a {
          font-size: 12px;
          line-height: 18px;
          color: #383a3d; }
          body main .product-list h5 a:hover {
            color: #ee6868; }
      body main .product-list .content-price {
        padding-bottom: 12px; }
        body main .product-list .content-price .price {
          font: normal 25px/29px "Ubuntu", sans-serif; }
    body main .pagination-container {
      text-align: center; }
    body main .product-individual #qty {
      width: 80px; }
    body main .product-individual #image-block {
      padding: 5px;
      border: 1px solid #dbdbdb;
      background: white; }
    body main .product-individual h1 {
      padding-bottom: 16px;
      font-size: 20px;
      color: #383a3d; }
    body main .product-individual .box-info-product {
      background: #fff;
      border: 1px solid #d2d0d0;
      border-top: 1px solid #b0afaf;
      border-bottom: 1px solid #b0afaf; }
      body main .product-individual .box-info-product .content-price {
        padding: 13px 19px; }
        body main .product-individual .box-info-product .content-price .price {
          font-weight: 600;
          font-size: 29px;
          line-height: 32px;
          color: #383a3d; }
